.std_partlist
{
    width: 12em;
}

.std_panel
{
    width: 10em;
}
.build_panel
{
    width: 20em;
}

.mediumTable tr
{
    padding-bottom: 3em;
}

.mediumTable th
{
    text-align: top;
    border-right: 1px solid black;
}