
.std_partlist
{
    width: 20em;
    
}

.std_panel
{
    width: 8em;
}
.build_panel
{
    width: 15em;
}

.mediumTable tr
{
    padding-bottom: 3em;
}

.mediumTable th
{
    text-align: top;
    border-right: 1px solid black;
}

#build_info {
    width: 90%;
    padding: 0.5em;
    font-size: 12px;
}

#build_info td {
    padding: 5px;
}

#admin_info_panel
{
    padding:0.5em;
    font-family: Monaco, Courier;
    font-size: 12px;
}

#admin_info_panel2
{
    padding: 1em;
    margin: 1em;
    float: right;
    width: 20em;
    height: 12em;
    font-family: Monaco, Courier;
    border: 2px dashed gray;
}