.std_partlist
{
    width: 12em;
}

.std_panel
{
    width: 10em;
}
.build_panel
{
    width: 20em;
}

.mediumTable tr
{
    padding-bottom: 3em;
}

.mediumTable th
{
    text-align: top;
    border-right: 1px solid black;
}

#build_info {
    width: 40%;
    border: 2px dashed black;
    margin:1em;
    padding: 1em;
    height: 14em;
}

#admin_info_panel
{
    padding: 1em;
    margin: 1em;
    float: right;
    width: 40%;
    height: 14em;
    font-family: Monaco, Courier;
    border: 2px dashed gray;
}