<div id="tabs-${_id}">
  <table border="1">
    <tr>
      <td valign="top">
        <strong>Current selection information</strong> <br />
        <div id="${_part}_info">
        Model: AAAAA <br />
        Manufacturer: BBBBB <br />
        Cores: CCCCC <br />
        Speed: DDDDD <br />
        Cache: EEEEE <br />
        </div>
      </td>
      <td>
        <div id="${_part}_list">
            #{ifnot _data}
            <p>
                No data
            </p>
            #{/ifnot}
            <select size="7" id="${_part}list" onchange="selectionChanged(${_id}, this);">

            #{list items:_data, as:'part'}
                <option value=${part.id}>
                    ${part.name}
                </option>
            #{/list}
            </select>

        </div>
        #{if _admin}
        <div id="${_part}_admin_panel">
            <p>
                <a href="#" id="${_part}editor_delete">Delete</a>
                <a href="#" id="${_part}editor_create">Create</a>
            </p>
        </div>
        #{/if}
      </td>
      <td valign="top">
        <table>
          <tr>
            <td align="center">
              <strong>Options</strong> <br />
            </td>
          </tr>
          <tr align="center">
            <td>
              #{options part:"${_part}" /}
            </td>
          </tr>
          <tr>
            <td align="center">
              <button type="button" id="commit_${_part}" onclick="updateList(${_id})">Commit</button>
              <button type="button" id="reset_${_part}" onclick="resetList(${_id})">Reset</button>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>