#{extends 'main.html' /}
#{set title:'Home' /}

<script type="text/javascript" charset="utf=8">

function selectListCurrent(listid) {
	var listid = document.getElementById(listid);
	
	return listid.options[listid.selectedIndex].value;
}
$('#gpueditor_delete').click(
	function() {
		var gl = document.getElementById("gpulist");
		var ind = gl.options[gl.selectedIndex].value;
		$.post('@{deletegpu()}', {id: ind},
		function() {
			removeFromOptionList("gpulist", ind);
		}, 'json');
	});
	$('#gpueditor_create').click(
	function() {
		$.post('@{createGPU()}', {name: prompt('GPU name ?')},
		function(gpu) {
			$('#gpulist').prepend('<option value="' +gpu.id + '">'+gpu.name+'</option>')
		}, 'json')
	});
</script>

#{part part:'RAM', data: ram, id:2, admin:true /}