#{extends 'main.html' /}
#{set title:'Home' /}

<script type="text/javascript" charset="utf=8">
    $(function() {
        $("#tabs").tabs();
    });
    
    function selectionChanged(part_id, listElement) {
        var listAction = #{jsAction @infoPanel(':part', ':id') /};
        var ind = listElement.options[listElement.selectedIndex].value;
        $.get(listAction({part: part_id, id: ind}), function(data) {
            $("#"+part_id+"_info").html(CreateDetailView([data]));
        });
    }
    
    function showValues(partName) {
      var checkboxes = $("#"+partName+"filter").find("input:checkbox");
      var radioboxes = $("#"+partName+"filter").find("input:radio");
      //console.log(checkboxes);
      submitFields=[];

      jQuery.each(checkboxes, function(i, checkbox){
          if (checkbox.checked) {
              submitFields.push(checkbox.className+":"+checkbox.name+":"+checkbox.value);
          }
      });
      jQuery.each(radioboxes, function(i, radiobox) {
          if (radiobox.checked) {
              submitFields.push(radiobox.className+":"+radiobox.name+":"+radiobox.value);
          }
      });
      var listAction = #{jsAction @changeFilter(':part',':something') /};
      //$.get(listAction( {part:"${_part}", something: submitFields.join(",")}), function(data) {    });
      $.get(listAction( {part:partName, something: submitFields.join(",")}), function(data) {
          //console.log(data);
          $("#"+partName+"list").html(data);
      });
      #{if admin}
      var listAction = #{jsAction @filterSQL(':part', ':something') /};
      $.get(listAction( {part:partName, something: submitFields.join(",")}), function(data) {
          $("#admin_info_panel").html(data);
      });
      #{/if}
    }
</script>

#{current /}
<div id="tabs">
	<ul>
	<li><a href="#tabs-1">CPU</a></li>
	<li><a href="#tabs-2">GPU</a></li>
	<li><a href="#tabs-3">RAM</a></li>
	<li><a href="#tabs-4">HD</a></li>
	<li><a href="#tabs-5">Motherboard</a></li>
	<li><a href="#tabs-6">PSU</a></li>
	</ul>
	#{part part:'CPU', data: cpus, id:1, admin:admin /}
	#{part part:'GPU', data: gpus, id:2, admin:admin /}
	#{part part:'RAM', data: rams, id:3, admin:admin /}
	#{part part:'HD', data: hds, id:4, admin:admin /}
	#{part part:'MB', data: mbs, id:5, admin:admin /}
	#{part part:'PSU', data: psus, id:6, admin:admin /}
</div>

#{if admin}
<div id="admin_info_panel">
    
</div>
#{/if}
#{build builds:builds /}

#{add_section /}