#{extends 'main.html' /}
#{set title:'Home' /}
#{set onload:'initialize();' /}
#{script 'script.js' /}

<script type="text/javascript" charset="utf=8">

function selectionChangedGPU(listElement) {
	var listAction = #{jsAction @infoForGPU(':id') /}
	var ind = listElement.options[listElement.selectedIndex].value;
	$('#GPU_info').load(listAction({id: ind}));
}

function selectionChangedCPU(listElement) {
	var listAction = #{jsAction @infoForCPU(':id') /}
	var ind = listElement.options[listElement.selectedIndex].value;
	$('#CPU_info').load(listAction({id: ind}));
}

function selectionChangedRAM(listElement) {
	var listAction = #{jsAction @infoForRAM(':id') /}
	var ind = listElement.options[listElement.selectedIndex].value;
	$('#RAM_info').load(listAction({id: ind}));
}

$(function() {
	$("#tabs").tabs();
	
});

</script>

#{current /}
<div id="tabs">
	<ul>
	<li><a href="#tabs-1">CPU</a></li>
	<li><a href="#tabs-2">RAM</a></li>
	<li><a href="#tabs-3">GPU</a></li>
	</ul>
	#{part part:'CPU', data: cpus, id:1 /}
	#{part part:'RAM', data: ram, id:2 /}
	#{part part:'GPU', data: gpus, id:3 /}
</div>

#{add_section /}